<div class="page-header">
  <h2>Biografía <small>Julián Arango López</small></h2>
</div>

<div class="media">
  <div class="media-left">
    <a href="#">
      <img class="media-object" src="https://scontent.feoh3-1.fna.fbcdn.net/v/t1.0-9/14470437_10208309410067675_8245510254344838917_n.jpg?oh=384b3401dc1a1d340e46500074b1f420&oe=58B3DC2D" alt="..." height="200" width="200">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Sobre mí:</h4>
    Estudiante de cuarto de semestre de Ingeniería de Sistemas en la universidad EAFIT.<br>
   	Desarrollador jr de aplicaciones web y móviles. Practico ciclismo en mi tiempo libre.<br>

   	<h4>Información personal</h4>
   	<li>Email: jarangol@eafit.edu.co</li>
   	<li>Mobile: +57 314 635-3979</li>
   	<li>Github User: jarangol</li>
   	<li>Languages: Spanish(Native), English (Intermediate)</li>	
  </div>
</div>

<h3>Techical skills</h4>
<h4>Programming Languages</h4>
<row>
	<h5><col>C++ 
	<col>Intermediate</h5>
</row>
<row>
	<h5><col>Arduino 
	<col>Intermediate</h5>
</row>
<row>
	<h5><col>Java 
	<col>Intermediate</h5>
</row>
<row>
	<h5><col>Ruby 
	<col>Beginner</h5>
</row>
<row>
	<h5><col>SQL
	<col>Beginner</h5>
</row>
<row>
	<h5><col>Python 
	<col>Beginner</h5>
</row>

<br>

<h4>Web Development</h4>
<row>
	<h5><col>HTML/CSS 
	<col>Intermediate</h5>
</row>
<row>
	<h5><col>Angular 2 
	<col>Intermediate</h5>
</row>
<row>
	<h5><col>Ruby on Rails 
	<col>Beginner</h5>
</row>